<<<<<<< HEAD
<div class= "topnav" id="myTopNav">
 <a href="#home">Home</a>
 <a href="#about">About</a>
 <a href="#contact">Contact Us</a>
 <a href="#faq">FAQ</a>
 </div>
=======
{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page--}}
{{!-- Feel free to remove this! --}}
<h1> Message Board</h1>
>>>>>>> origin/master

{{outlet}}