<h1> Welcome to Chat room </h1>



<h3>What's on your mind...</h3>



<ul>

  {{#each model as |question|}}

     <li>{{question.content}} {{question.author}} {{question.notes}}</li>

  {{/each}}

</ul>



{{#link-to 'about'}}About{{/link-to}}{{outlet}}
